body{
    background-color: #0096c7;
}
.container{
    display: block;
    margin: 10px auto;
    width: 600px;
    padding: 30px;
    border: 1px solid #ade8f4;
    border-radius: 20px;
    height: 600px;
     background-color: #ade8f4;
     font-family: 'Inter', sans-serif;

     user-select: none;
}
.icon{
    text-align: center;
    margin-left: -30px;
}
#units{
    font-size: 1rem;
    font-weight: bold;
}

.main-app{
    padding: 20px;
   
    display: block;
    margin: 0 auto;
}
.form{
    border: none;
  
  
}
.btn{
    background-color: #0096c7;
    border: none;
 color: white;
    font-size: 20px;
   
}
.current{
   margin-left: 20px;
}
.btn:hover{
    color: #caf0f8;
}
.temp{
    text-align: center;
}

h1{
    font-weight: 600px;
}
li{
    list-style: none;
   font-weight: bold;
    color: #0096c7;  
}
li:hover{
    color: white;
     text-transform: capitalize;
}
h3{
    font-size: 17px;
    font-weight: bold;
    color: #0096c7;
}
strong{
    font-size: 50px;
}

a:active{
     
    color: rgb(33, 33, 33);
    cursor: default;
}

a{
    color: rgb(0, 0, 0);
}
a:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
   
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  color: #0096c7;
  
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
.foot-note{
    margin: 0 auto;
    display: block;
    text-align: center;
}